#calcLED{
	border-radius: 200px;
	background-color: #c4daaf;
	border: 10px solid #1b1b1b;
	height: 90px;
	width: 300px;
	padding: 5px;
	margin: 10px;
}

#calculatorWrapper{
	background-color: #84ab9e8a;
	width: 350px;
	padding: 14px;
	margin-left: 12%;
	border-radius: 10px;
}

#calcBtnWrapper{
	margin-left: 20px;
	margin-top: 30px;
}

#calcBtnWrapper button{
	height: 55px;
	width: 80px;
	margin: 5px;
	font-size: 20px;
}

#calcLED{
	text-align: right;
	font-size: 50px;
	padding: 20px;
    margin-top: 10px;
}

